/* Custom player style */
   midi-player {
  display: block;
  max-width: 200px;
  width: inherit;
  margin: 4px;
  margin-bottom: 0;
  color:#000;
}
   midi-player::part(control-panel) {
  background: #FEFAE0;
  border: 4px inset #BC6C25;
  border-radius: 0px 0px 0 0;
}
   midi-player::part(play-button) {
  color: #283618;
  border: 2px solid currentColor;
  background-color: #BC6C25;
  border-radius: 20px;
  transition: all 0.2s;
  content: 'hello';
}
   midi-player::part(play-button):hover {
  color: #606C38;
  background-color: #FEFAE0;

  border-radius: 10px;
}
   midi-player::part(time) {

}

/* Custom visualizer style */
   midi-visualizer .piano-roll-visualizer {
  background: #FEFAE0;
  background-image: url("pink_mar.jpg");
  background-blend-mode: luminosity;
  border: 4px inset #BC6C25;
  border-top: none;

  margin: 4px;
  margin-top: 0;
  overflow: auto;
}
   midi-visualizer svg rect.note {
  opacity: 0.6;
  stroke-width: 2;
}
   midi-visualizer svg rect.note[data-instrument="0"]{
  fill: #e22;
  stroke: #500;
}
midi-visualizer svg rect.note[data-instrument="2"]{
  fill: pink;
  stroke: #055;
}
   midi-visualizer svg rect.note[data-is-drum="true"]{
  fill: none;
  stroke: none;
}
   midi-visualizer svg rect.note.active {
  opacity: 1;
  stroke: #fff;
}
